---
- name: Upload all .env keys to AWS Secrets Manager
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    env_file: "../.env"

  tasks:

    - name: Read .env file
      slurp:
        src: "{{ env_file }}"
      register: env_content

    - name: Convert .env content to list of lines
      set_fact:
        env_lines: "{{ env_content['content'] | b64decode | split('\n') }}"

    - name: Build dictionary from .env entries
      set_fact:
        env_dict: >-
          {{
            env_dict | default({}) |
            combine({ item.split('=')[0]: item.split('=')[1] })
          }}
      loop: "{{ env_lines }}"
      when: item != '' and not item.startswith('#') and '=' in item

    - name: Print all parsed .env key/value pairs (for testing)
      debug:
        msg: "Key={{ item.key }}, Value={{ item.value }}"
      loop: "{{ env_dict | dict2items }}"

    - name: Upload each key/value as AWS secret
      aws_secret:
        name: "prod/{{ item.key }}"
        secret_string: "{{ item.value }}"
        state: present
      loop: "{{ env_dict | dict2items }}"
